body{
    margin-left: 0;
    margin-right: 0;
    background-color: var(--second-color);
    font-family: sans-serif, roboto;
}
    :root{
        --dominant-color: #31a8ff;
        --second-color: #00020c;
        --gry-color: #4e506413;
         --gry2-color: #4e50641c;
        --text-color: #b8d1f7;
        --h1-font: 2.0rem;
        --h2-font: 1.2rem;
        --lebel-font: 1rem;

        --p-font: 1rem;
    }
      
       
section,.header-nav{ 
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 80px;
}
.hero-container{
    background-color: #00020c;
}
header{
    position: sticky;
    top: 0.2px;
    background-color: var(--second-color);
    z-index: 100;
}

.header-nav{
    display: flex; 
   
 }
 .logo{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0;
   font-size: var(--h2-font);
   color: var(--dominant-color);
   font-weight: 600;
   text-transform: uppercase;}
.navbar{
   padding-left: 630px;
}
 
 ul{
   display: flex;

}
li{
   list-style: none;
   margin: 10px;
}
 a{
   color: var(--dominant-color);
   text-decoration: none;


}

a:hover{
   text-transform: uppercase;
}

 .hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
   }
 .hero-text{
   justify-content: center;
   align-content: center;
 }
 h1{
   font-size: var(--h1-font);
   color: var(--dominant-color);
   
 }
 h2{
   font-size: var(--h2-font);
   color: var(--dominant-color);

 }
 p{
   font-size: 0.9rem;
    color: var(--text-color);
      line-height: 1.45;
      letter-spacing: 1px;
      padding: 20px 0;
 }
 button{
   font-size: var(--lebel-font-font);
   font-weight: 550;
   background-color: var(--second-color);
   color: var(--dominant-color);
   border: 1px solid var(--dominant-color);
   padding: 10px 15px;
   border-radius: 20px;
   cursor: pointer;
   transition: all .45s ease;
   margin-top: 20px;
 }
 button:hover{
   transform: scale(1.1);
   cursor: pointer;
}

 
 
.hero-img {
   flex: 1;
   text-align: center;
}

.hero-img img {
   max-width: 100%;
   height: auto;
   border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

 .h1{
   font-size: var(--h1-font);
   color: var(--gry-color);
   position: relative;
   -webkit-text-stroke: 0.15vw #042135;


 }
 .h1::before{
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: var(--dominant-color);
   -webkit-text-stroke: 0vw #241d27;
   border-right: 2px solid var(--dominant-color);
   overflow: hidden;
   animation: animate 6s infinite;
 }
.hire-btn {
  padding: 10px 50px;
  background: var(--dominant-color);
  color: var(--second-color);
  margin-right: 20px;
  box-shadow: none;

}

.hire-btn:hover {
  background: var(--second-color);
  color: var(--dominant-color);
  border: 2px solid var(--dominant-color);
  box-shadow: 2px 2px 4px #31a8ff;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--second-color);
  color: var(--dominant-color);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  animation: fadeIn 0.4s ease;
  border: 1px solid var(--dominant-color);
  box-shadow: 2px 2px 4px #31a8ff;
  
}

.modal-content p{
  font-size: 18px;
  color: var(--text-color);
 
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: var(--dominant-color);
}


.download-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: var(--dominant-color);
  color: var(--second-color);
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}
 .view-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: var(--second-color);
  color: var(--dominant-color);
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover {
  background: var(--dominant-color);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

 @keyframes animate{
   0%,10%,100% 
   {
      width: 0;
   }
   70%,90%
   {
      width: 100%;
   }
 }
 @keyframes blink{
   50% { background-color: transparent;}
 }


 .about{
   justify-content: center;
   align-content: center;
}
span{
   margin: 0 5px;
}
.about-img{
   display: flex;
   justify-content: center;
   align-items: center;
 
}
.about-img img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: auto;
   border-radius: 8px; /* Optional: Add border-radius for rounded corners */

}
.abt-me,.Lets-talk{
   display: flex;
   justify-content: center;
   align-content: center;
}
 .content{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 40px;

  
}

 .about-description p{
   color: var(--text-color);
   font-size: 0.9rem;
   line-height: 1.45;
   letter-spacing: 1.5px;
   margin-bottom: 20px;

   }
 .main-text{
   text-align: center;
}
.main-text p, .contact p{
   color: var(--text-color);
   font-size: 15px;
   line-height: 2.5px;
   margin-bottom: 5px;
}
h2,.main-text h2{
   font-size: var(--h2-font);
   line-height: 1;
}
 .services-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   align-items: center;
   gap: 1rem;
   margin-top: 3rem;
   

}
.box{
   background: var(--gry-color);
   padding: 20px 20px;
   border-radius: 8px;
   transition: all .45s ease;
   border: none;
   height: auto;
   
}
.s-icons i{
   display: flex;
   justify-content: center;
   font-size: 32px;
   margin-bottom: 10px;
   color: var(--dominant-color);

}
.box h2{
   display: flex;
   justify-content: center;
   font-size: 24px;
   font-weight: 600;
   color: var(--dominant-color);
   margin-bottom: 15px;
}
.box p{
   color: var(--text-color);
   font-size: 0.9rem;
   line-height: 1.4;
   margin-bottom: 25px;

}

.read{
   display: inline-block;
   padding: 8px 18px;
   background: var(--second-color);
   color: var(--dominant-color);
   font-size: 14px;
   font-weight: 500;
   border-radius: 8px;
   transition: all .45s ease;
}
.read:hover{
   letter-spacing: 1px;
   background: var(--accent-color);
   color: var(--dominant-color);
}
.box:hover{
   transform: translateY(-8px);
   cursor: pointer;
}

.buttons{
   display: flex;
   justify-content: end;
   gap: 20px;
   align-items: center;
   margin-bottom: 20px;
}
.fli-p{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   background: var(--second-color);
   color: var(--text-color);
   font-size: 14px;
   font-weight: 600;
   border: none;
   box-shadow: none;
   border-radius: 8px;
   transition: all .45s ease;
}
.cards{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 10px;
    justify-items: center;
    align-items: stretch;
}
.cards .image{
   width: 338px;
   height: 338px;
   border-radius: 8px;
   object-fit: cover;
}
.img-box{
   width: 100%;
   border-radius: 8px;
   object-fit: cover;
}



 .cards .btn{
   display: inline-block;
   padding: 8px 18px;
   background: var(--second-color);
   color: var(--dominant-color);
   font-size: 14px;
   font-weight: 500;
   border-radius: 8px;
   transition: all .45s ease;
}
 .cards .btn:hover{
   letter-spacing: 1px;
   background: var(--accent-color);
   color: var(--dominant-color);
}

.portfolio-item{
   width: 100%;
   position: relative;
   overflow: hidden;
   border-radius: 8px;
   
   cursor: pointer;
}
.portfolio-item img{
   width: 100%;
   border-radius: 8px;
   display: block;
   transition: transform 0.5s;
   height: 310.375px;
}
.layer{
   width: 100%;
   height: 0;
   background: linear-gradient(rgba(7, 11, 20, 0.8), rgba(5, 7, 14, 0.8), rgba(4, 6, 10, 0.8), var(--dominant-color));
   position: absolute;
   border-radius: 8px;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0px;
   transition: height 0.5s;
}
.layer h5{
   color: var(--text-color);
   font-size: 24px;
   font-weight: 550;
   letter-spacing: 2px;
   margin-bottom: 10px;
   text-transform: uppercase;
}
.layer p{
   padding: 0;
   color: #fff;
   font-size: 1rem;
   line-height: 1.2;
}
.layer i{
   color: var(--dominant-color);
   margin-top: 20px;
   font-size: 20px;
   background: #fff;
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
}
.portfolio-item:hover img{
   transform: scale(1.1);


}

.portfolio-item:hover  .layer{
   height: 100%;
}
.contact{
   margin-bottom: 0;
}

.contact-text{
   background: var(--gry-color);
   padding: 20px;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}

.contact-text h2{
   margin-top: 0;
   display: flex;
   justify-content: center;
   font-size: 20px;
   font-weight: 600;
  

}


.contact-text p{
   color: var(--text-color);
   font-size: var(--p-font);
   line-height: 1.8;
   margin-bottom: 30px;
}


 .main-text{
   color: var(--text-color);
 }
.list{
   margin-bottom: 2.8rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.list li{
   margin-bottom: 12px;
   color: var(--dominant-color);
   display: block;
   margin: 18px;
   color: var(--accent-color);
   font-size: 14px;
}
.list li{
   display: block;
   margin: 18px;
   color: var(--text-color);
   font-size: 14px;
   transition: all .45s ease;
}
.socials{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.socials a{
   font-size: 30px;
   color: var(--dominant-color);
   transition: all .45s ease;
}
.socials a:hover{
   color: var(--text-color);
   transform: scale(1.1);
}

.gml,.street,.phone{ 
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 25px;
   
}
.list a{
   color: var(--dominant-color);

}



.tg,.gml{
   display: flex;
}

.contact .end{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   gap: 2rem;
   background: var(--gry2-color);

}
.last-text p{
   color: var(--text-color);
   font-size: 14px;
}
.top i{
   padding: 5px;
   border-radius: 8px;
   font-size: 35px;
   color: var(--text-color);
   background: var(--second-color);
   border: 1px solid var(--dominant-color);
}
/* ...existing code... */

.header-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
}

.navbar ul {
   display: flex;
   list-style: none;
}

.navbar ul li {
   margin: 0 10px;
}

.navbar ul li a {
   text-decoration: none;
   color: var(--text-color);
}

.menu-toggle {
   display: none;
   cursor: pointer;
}



@media (max-width: 768px) {
 .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
  }
.logo{
   justify-content: flex-start;
   }
.navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 120px;
      left: 0;
      background: var(--second-color);
      padding: 10px 0;
      gap: 25px;
      margin-top: 20px;
      }
      .navbar ul li {
         margin: 20;
         justify-content: space-between;
         padding: 20px 10px;

      }
      .navbar ul li a {
         color: var(--text-color);
         font-size: 1.5rem;
      }


      .menu-toggle{
         display: flex;
         right: 0;
         font-size: var(--h1-font);
         color: var(--text-color);
         z-index: 2000;
         padding-bottom: 20px;
         margin-left: 200px;


      }

      .navbar ul.active {
      display: block;
      flex-direction: row-reverse;
      justify-content: center;
      background: var(--second-color);
      height: 100vh; /* Increase the height */
      width: 60%; /* Decrease the width */
      right: 0; /* Align to the right */
      left: auto; /* Reset left alignment */
      top: 0;
      }
    .menu {
        display: none;
    }
      .navbar.active ul li {
         margin-top: 20px;
         display: none;
      }
      .bx-x{
         display: none;
        
      }
      .navbar.active .bx-menu{
         display: none;
      }
      .navbar.active .bx-x{
         display: block;
      } 
     .hero, .about .content, .services, .portfolio, .contact, .contact-cntnt {
       display: flex;
       flex-direction: column;
       gap: 20px;
       justify-content: center;

   }
   .hero, .about, .services-content, .portfolio{
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      padding-bottom: 40px;

  }
   section,.header-nav{ 
      margin-left: 16px;
      margin-right: 16px;
  }
  h1,h2,.hero-p,.btn{
   text-align: center;
  }
   .hero-text, .about-description {
       padding: 10px;
   }
   button{
      align-items: center;
      }

   .hero-img, .about-img img{
         width: 97%;
         height: auto;
   }
   .buttons{
      display: block;
   }
 .modal-content {
  margin: 10px;
  background: var(--second-color);
  color: var(--dominant-color);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 300px;
  
}
   .cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
   }
   .contact{
      display: block;
      margin-bottom: 0;
   }
   .list{
      display: block;
   }
   .end{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      background: var(--bg-color);
   
   }
   .last-text p{
      color: var(--text-color);
      font-size: 12px;
      padding-left: 10px;

   }
  

}













